/* variables */
$clr-black: black;
$clr-white: white;
// $clr-main-lv1: #3E68B7;
// $clr-selected: #3E68B733;

$f-size-1: 1rem * 0.75;
$f-size-2: 1rem;
$f-size-3: 1rem * 1.25;
$f-size-4: 1rem * 1.5;
$f-size-5: 1rem * 2;
$f-size-6: 1rem * 3;

$limit-w-pc: 768px;
