/* variables */
$clr-black: black;
$clr-white: white;
$clr-main: #6A855A;
$clr-sub: #204326;
$clr-bar: #EFF4EC;
$clr-bg: #F4F6F3;
$clr-font-title: #808080;
$clr-font-content: #B3B3B3;
$clr-btn-active: #808080;
$clr-btn-disable: #B3B3B3;

$f-size-1: 1rem * 0.75;
$f-size-2: 1rem;
$f-size-3: 1rem * 1.25;
$f-size-4: 1rem * 1.5;
$f-size-5: 1rem * 2;
$f-size-6: 1rem * 3;

$limit-w-pc: 768px;
